//Variables

// Colors
$color-primary-900: #5D4E64;
$color-primary-500: #BE87D9;
$color-primary-400: #FF75BE;
$color-primary-300: #EFD1E1;
$color-primary-200: #FFDFF0;
$color-black: #000;
$color-white:#fff;
$color-white-16:rgba(#fff, 0.16);
//Grey color variable
$color-grey-100:#E3DFE3;  
$color-grey-200:#E5E5E5;  
$color-grey-300:#D9D9D9;  
$color-grey-400:#B7B7B7;  
$color-grey-700:#757575;
$color-grey-800:#F8F8F8;
$color-grey-900:#374858;
//Blue Color Variable
$color-blue-100:#F1F8FF;
$color-blue-200:#E2F1FF;
$color-blue-300:#A0C4E4;
$color-blue-400:#E4F2FF;

// Green Color
$color-green-900:#19A38C;
$color-green-100:#F9FBF5;
 
// Font Size
$base-font-size: 16;
$base-font-size-14: 14;
// line height
$base-line-height:normal;

// Font Family
$sansation-font: "Sansation", sans-serif;
$yesteryear-font: "Yesteryear", cursive;
$seaweed-script-font: "Seaweed Script", cursive;

